In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Importing Dataset and Displaying Dataset

In [7]:
dataset = pd.read_csv('Data.csv')
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

Inserting missing values in Salary Column with mean.

In [8]:
from sklearn.impute import SimpleImputer
x = dataset.iloc[:].values
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer=imputer.fit(x[:,1:3])
x[:,1:3]=imputer.transform(x[:,1:3])
print(x)

[['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 63777.77777777778 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' 38.77777777777778 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]

Converting text category data to separate numeric values

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
n=ColumnTransformer(transformers=[('encoder', OneHotEncoder(),[0])],remainder='passthrough')
x=np.array(n.fit_transform(x))
print(x)

[[1.0 0.0 0.0 44.0 72000.0 'No']
 [0.0 0.0 1.0 27.0 48000.0 'Yes']
 [0.0 1.0 0.0 30.0 54000.0 'No']
 [0.0 0.0 1.0 38.0 61000.0 'No']
 [0.0 1.0 0.0 40.0 63777.77777777778 'Yes']
 [1.0 0.0 0.0 35.0 58000.0 'Yes']
 [0.0 0.0 1.0 38.77777777777778 52000.0 'No']
 [1.0 0.0 0.0 48.0 79000.0 'Yes']
 [0.0 1.0 0.0 50.0 83000.0 'No']
 [1.0 0.0 0.0 37.0 67000.0 'Yes']]

Binary substitution for the yes or no dependent variable

In [10]:
from sklearn.preprocessing import LabelEncoder
b=LabelEncoder()
y=b.fit_transform(dataset['Purchased'])
print(y)

[0 1 0 0 1 1 0 1 0 1]

In [11]:
from sklearn.model_selection import train_test_split
x_train ,x_test ,y_train ,y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)
print(x_train)

[[0.0 0.0 1.0 38.77777777777778 52000.0 'No']
 [0.0 1.0 0.0 40.0 63777.77777777778 'Yes']
 [1.0 0.0 0.0 44.0 72000.0 'No']
 [0.0 0.0 1.0 38.0 61000.0 'No']
 [0.0 0.0 1.0 27.0 48000.0 'Yes']
 [1.0 0.0 0.0 48.0 79000.0 'Yes']
 [0.0 1.0 0.0 50.0 83000.0 'No']
 [1.0 0.0 0.0 35.0 58000.0 'Yes']]

In [12]:
print(y_train)

[0 1 0 0 1 1 0 1]

In [13]:
print(x_test)

[[0.0 1.0 0.0 30.0 54000.0 'No']
 [1.0 0.0 0.0 37.0 67000.0 'Yes']]

In [14]:
print(y_test)

[0 1]

# Standard Scaling
The Standard score of a sample is calculated as:
z = (x-u)/s

In [15]:
from sklearn.preprocessing import StandardScaler
s=StandardScaler()
x_train[:, 2:4]=s.fit_transform(x_train[:, 2:4])
x_test[:, 2:4]=s.fit_transform(x_test[:, 2:4])
print(x_train)

[[0.0 0.0 1.2909944487358056 -0.19159184384578545 52000.0 'No']
 [0.0 1.0 -0.7745966692414834 -0.014117293757057777 63777.77777777778
  'Yes']
 [1.0 0.0 -0.7745966692414834 0.566708506533324 72000.0 'No']
 [0.0 0.0 1.2909944487358056 -0.30453019390224867 61000.0 'No']
 [0.0 0.0 1.2909944487358056 -1.9018011447007988 48000.0 'Yes']
 [1.0 0.0 -0.7745966692414834 1.1475343068237058 79000.0 'Yes']
 [0.0 1.0 -0.7745966692414834 1.4379472069688968 83000.0 'No']
 [1.0 0.0 -0.7745966692414834 -0.7401495441200351 58000.0 'Yes']]

Feature Scaling

In [16]:
print(x_test)

[[0.0 1.0 0.0 -1.0 54000.0 'No']
 [1.0 0.0 0.0 1.0 67000.0 'Yes']]